

header {
	text-align: center;
	border: 1px solid red;
	letter-spacing: 20px;
	text-transform: uppercase;
}

h2 {
	text-align: center;
}

/* Grid Styling */

div#mineplane {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	border: 1px solid red;
	margin: 50px auto 0 auto;
}

.controls {
	height: 50px;
	width: 500px;
	margin: 10px auto;
	border: 1px solid black;
}

a#start {
	display: block;
	height: auto;
	border: 2px solid red;
	text-decoration: none;
}

button {
	z-index: 12;
	width: 150px;
	height: 30px;
}

.grid {
	box-sizing: border-box;
	margin:0;
	padding:0;
	border:none;
	outline:1px solid #000;
  display:inline-block;
  /* border-radius: 50%; */
}