

header {
	text-align: center;
	border: 1px solid red;
	letter-spacing: 20px;
	text-transform: uppercase;
}

h2 {
	text-align: center;
}

/* Grid Styling */

div#mineplane {
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	height: 500px;
	border: 10px rgba(70, 156, 255, 0.795);
	border-style: groove;
	margin: 50px auto 0 auto;
	background-image: url(assets/mineplaneBG2.jpg)
}

.controls {
	height: 50px;
	width: 500px;
	margin: 10px auto;
	border: 1px solid black;
}

a#start {
	display: block;
	height: auto;
	border: 2px solid red;
	text-decoration: none;
}

button {
	z-index: 12;
	width: 150px;
	height: 30px;
}

/*CLICKERRR*/

.grid {
	box-sizing: border-box;
	margin:0;
	padding:0;
	background-color: rgba(220, 20, 60, 0.137);
	border-width: 2px;
	border-style: outset;
	border-image-outset: 1px;
	/*outline:1px solid rgb(69, 48, 187);*/
  	display:inline-block;
  	/* border-radius: 50%; */
}